---
layout: default
# The theme's layout unfortunately doesn't add the `title` of a page as H1,
# so this is done as an override here.
---
<head>
<link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
<script async src="https://hypothes.is/embed.js"></script>
</head>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const toc = document.getElementById('markdown-toc');
  const aside = document.querySelector('.toc-sidebar');
  
  if (toc && aside) {
    aside.appendChild(toc);
  }
});
</script>

{% if page.title and page.title != '' %}
<h1>{{ page.title }}</h1>
{% endif %}

{% if page.description and page.description != '' %}
<p class="fs-6 fw-300">
    {{ page.description }}
</p>
{% endif %}

<hr>


<div id="main-content">
  <main>
    {{ content }}
  </main>
  <aside class="toc-sidebar">
    <!-- TOC will be moved here via JavaScript -->
  </aside>
</div>

